@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
    font-family: "RoboMono";
    src: url('./RubikMonoOne-Regular.ttf');
} */

#root
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
}